*{
  margin:0px;
  padding:0px;
}


.nav-feature{
  display:flex;
  justify-content:space-between;
  padding:20px 100px;
  align-items:center;
}

.nav-links ul{
  display:flex;
  list-style:none;
  gap:30px;
}

.nav-links li a{
  text-decoration:none;
  color:#575757;
}

 .btn{
  color:white;
  font-weight:600;
  background-color: #1D4ED8;
  border-radius:12px;
  border:none;
  padding:12px 20px;
}

